@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap");

:root {
  --color1: #1dd3b0;
  --color2: rgb(195, 255, 179);
  --color3: #affc41;
  --color4: #16743f;
  --border-color: #affc41;
  --border-color-dark: #257281;
  --background-color: rgb(253, 253, 253);
  --title-color: rgb(136, 132, 216);
  --text-color: #2f2f2f;
  /* --text-color: #372b54;   */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, var(--color1), var(--color2));
  min-height: 100vh;
  background-attachment: fixed;
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
  margin: auto;
  font-family: "Karla", sans-serif;
}

.logo img {
  height: 100px;
  border-radius: 32px;
  margin-bottom: 10px;
  opacity: 0.8;
}

ul {
  padding: 0;
  list-style: none;
}

.search-bars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 12px;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 12px;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 0.9;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.input-field {
  width: 250px;
  margin-top: 6px;
  margin-bottom: 20px;
}

label {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--color4);
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

#number-of-events {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: var(--color2);
}

.alerts-container {
  flex-direction: column;
  width: 250px;
  z-index: 1000;
}

h1 {
  color: var(--color2);
}

h2 {
  font-weight: 350;
  font-size: 38px;
  color: var(--title-color);
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 10px;
}

#event-list {
  display: grid;
  margin: 5%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.event {
  width: 400px;
  border: 1px solid var(--color2);
  background-color: rgba(253, 253, 253, 0.5);
  color: var(--text-color);
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 400;
  border-radius: 32px;
  position: relative;
}

.event-details {
  margin-top: 20px;
  width: 60%;
}

button {
  padding: 5px 8px;
  border-radius: 12px;
  border: none;
  border-bottom: 1.5px solid var(--title-color);
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 1;
}

.show-details-btn {
  width: 150px;
  background-color: var(--color3);
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-to-calendar {
  width: 200px;
  background-color: var(--color1);
  margin-top: 20px;
  margin-bottom: 10px;
}

.link-to-calendar {
  color: var(--text-color);
  text-decoration: none;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.scatter-chart {
  width: 80%;
  margin-left: 0;
}

.back-to-top {
  position: fixed;
  left: 80%;
  bottom: 10px;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

@media (max-width: 1400px) {
  #event-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  #event-list {
    grid-template-columns: 1fr;
  }
}

  @media (max-width: 768px) {
  .search-bars {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .charts-container {
    grid-template-columns: 1fr;
  }
  .event {
    width: 90%;
  }
  .event-details {
    width: 90%;
  }
  .scatter-chart {
    width: 100%;
    margin-top: 50px;
  }
  h2 {
    font-size: 33px;
  }
}
