@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

:root {
  --color1: #1dd3b0; 
  --color2: #c3ffb3; 
  --color3: #affc41;
  --border-color: #c3ffb3; 
  --border-color-dark: #086375; 
  --background-color: rgb(253, 253, 253);
  --title-color:#086375; 
  --text-color: #3c1642;  
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, var(--color1), var(--color2));
  min-height: 100vh; 
  background-attachment: fixed; 
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
  margin:auto;
  font-family: "Karla", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 0.9;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.input-field {
  width: 250px;
  margin-top: 6px;
}

.label-number-field{
  font-style: italic;
  color: var(--title-color);
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: var(--color2);
}

.alerts-container {
  flex-direction: column;
  width: 250px;
  z-index: 1000;
}

.error-alert{
  font-weight: 600;
  padding: none;
  color:var(--color2);
  margin-bottom: 10px;
}

h2{
  font-weight: 300;
  font-size: 38px;
  color: var(--title-color);
  text-transform: uppercase;
  padding-top:5px;
  padding-bottom: 10px;
}

.event {
  border: 1px solid var(--border-color);
  background-color: rgba(253, 253, 253, 0.75);;
  color: var(--text-color);
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;  
  font-weight: 400;
  border-radius: 8px;
  position: relative;
  width: 80%;
}

.event-details{
  margin-top: 20px;
  width: 90%;
}

button{
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color-dark);
  font-size:15px;
  font-weight: 500;
  font-style: italic;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 1;
}

.show-details-btn {
  width: 150px;
  background-color: var(--color3);
  margin-top:10px;
  margin-bottom:10px;
}

.btn-to-calendar{
  width: 200px;
  background-color: var(--color1);
  margin-top:20px;
  margin-bottom:10px;
}

.link-to-calendar{
  color:var(--text-color);
  text-decoration: none;
}